.container {
    display: flex;
    justify-content: flex-end;
    font: small arial,sans-serif;
}

.post, .pictures, .menu-popup, .ring, .avatar {
    padding: 10px;
}

.menu-popup {
    position: relative;
    width: 10px;
    height: 10px;
    background: url(../img/google-icons.png) no-repeat 0px -1757px;
    background-size: 90px;
    /* opacity: 0.6; */
}

.ring {
    margin: 9px;
    background: url(../img/google-icons.png) no-repeat -15px -733px;
    background-color: grey;
    background-size: 50px;
    border-radius: 30px;
    /* cursor: pointer; */
}
.container-menu, #hider {
    display: none;
}

#hider:checked ~ .container-menu {
    display: flex;
}

.container-menu {
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-radius: 2px;
    width: 300px;
    max-height: 496px;
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    top: 44px;
    right: -90px;
}

.submenu:hover {
    border: 1px solid #ccc;
}

.icons {
    width: 64px;
    height: 64px;
    background: url(../img/google-icons.png);
    background-size: 92px 2839px;
    margin: 10px;
}

.text {
    text-align: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

#gmail {
    background-position: 0 -2737px; 
}

#disk {
    background-position: 0 -519px; 
}

#photo {
    background-position: 0 -1456px; 
}

#hangouts {
    background-position: 0 -104px; 
}

#calendar {
    background-position: 0 -173px; 
}

#play {
    background-position: 0 -346px; 
}



